/phpdoc/
/c_packages/sampleApp/app/tmp/templates_c/*.tpl.php
/c_packages/sampleApp/app/log/*.log
/c_packages/sampleApp/bower.json
/c_packages/sampleApp/composer.json
/c_packages/sampleApp/httpdocs/vendor/
/c_packages/sampleApp/httpdocs/vendorServer/
*.log
