# Exclude log directory
c_app/log/

# Exclude templates directory
c_app/tmp/*
c_app/tmp/templates_c/

# mediaserver caches
httpdocs/mediaCache/
httpdocs/vendor/
httpdocs/vendorServer/

bower.json
c_app/composer.json
c_app/composer.lock

*.log
