
@import "/common/classes/view/templates/styles/commonIncludes.less"; // Modify this for custom colors, font-sizes, etc

//
// Variables
// ------------------------------
@formErrorColor: #ffd700;
@formErrorFontColor: #ffffff;
@formErrorBckColor: @formErrorColor;
@labelHeight: @inputHeight;
//
// form error style
//

@import "/form/classes/view/templates/styles/formExtender.less";


input[type="text"],
input[type="password"]{
  &.formError{
    border-color: @formErrorColor;
  }
}

label{
  &.formError{
    background: @formErrorBckColor;
    color: @formErrorFontColor;
    display: inline-block;
    margin-left: 10px;
    padding: 6px;
    font-size: 12px;
    .border-radius(5px);
  }
}

input[type="radiobutton"],
input[type="checkbox"],
textarea,
select{
  &.formError{
    .box-shadow(1px 0px 2px 0px @formErrorColor);
  }
}

textarea{
  .hide();
}